*{
   padding: 0;
   box-sizing: 0;
   margin: 0;
}

.img_youtube{
  width: 9%;
  margin-right: 200px;
}

.input_1{
  width: 500px !important;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.add_on{
  width: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form_input{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

menu {
  width: 25px;
  height: 2px;
  background-color: rgb(108, 105, 105);
  margin: 6px 0;
}