*{
   padding: 0;
   box-sizing: 0;
   margin: 0;
}

.img_youtube{
  width: 9%;
  margin-right: 200px;
}

.input_1{
  width: 500px !important;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.add_on{
  width: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form_input{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

menu {
  width: 25px;
  height: 2px;
  background-color: rgb(108, 105, 105);
  margin: 6px 0;
}

.sidebar {
  height: 100%;
  width: 100px;
  text-align: center;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:lightblue;
  overflow-x: hidden;
  padding-top: 16px;
}

.mmg{
  display: flex;
}

.icon-bar {
  width: 100px;
  background-color: none;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 7px;
  transition: all 0.3s ease;
  color: black;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.icon-bar a:hover {
  background-color: rgb(238, 236, 236);
  border-radius: 10px;
 
}

.icon_text{
  font-size: 12px;
}

.tab_bg{
  background-color: rgb(224, 221, 221)!important;
}

.off_canvas_sidebar a {
  display: block;
  text-align: center;
  padding: 7px;
  transition: all 0.3s ease;
  color: black;
  font-size: 25px;
  text-decoration: none;
  display: flex;
  gap: 2rem;
  
}

.off_canvas_sidebar a:hover {
  background-color: rgb(238, 236, 236);
  border-radius: 10px;
 
}


.off_text{
  font-size: 16px;
}


.img_tao{
  width: auto;
  height: 50px;
  border-radius: 50%;
}

.card_text_likes{
  font-size: 15px;

}

.card_profile{
  display: flex;
  gap: 1rem;
}

.con_top{
  margin-top: 6%;
}
